body{

    margin: 0px;
    padding: 0px;
}
.navbar {
  background-color: #2b2b2b;
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: #818181;
}

.navbar .nav-link:hover {
  color: #cccccc;
}

.first-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: white;
}
.first-heading .contenido {
    width: 60%;
}
.first-heading .imagen img {
    width: 200px;
    height: 200px;
    border-radius: 60%;
    object-fit: cover;
}

.fondo-jumbotron {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 100%;


}

