<section id="first-heading">
<section class="first-heading">
    <div class="contenido">
        <h1>Este primer encabezado llamara tu atencion</h1>
        <p>
            "Una vez que no haya nada más que una manzana elegante. Una puerta de enlace como una cabeza siempre es un
            gato.
            Ahora el coche de la flota es grande, o el dolor es un elemento de prueba. Para el abono de la carne, el
            cuenco y el plato de la flota.

        </p>
    </div>

    <div class="imagen">
        <img src="assets/img/1.jpg" alt="imagen">
    </div>
</section>
</section>