<!-- your html code here -->
<div class="container my-5">

    <h2>Portfolio</h2>

    <p>Tres instantes, tres historias. Esta serie condensa mi capacidad para capturar la luz y la emoción, mostrando el
        viaje creativo desde la conceptualización hasta el encuadre final.
    </p>

    <div class="container">

        <div class="row">

            <div class="col-4 p-2">
                <img src="website/assets/img/portfolio 1.jpg" class="img-fluid" alt="Project 1">
                <h5 class="mt-3 text-primary">Project Name</h5>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>

            <div class="col-4 p-2">
                <img src="/workspaces/fspt-139-proyecto-collab-DiLuRu/website/assets/img/portfolio 2.jpg" class="img-fluid" alt="Project 1">
                <h5 class="mt-3 text-primary">Project Name</h5>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>

            <div class="col-4 p-2">
                <img src="website/assets/img/portfolio 3.jpg" class="img-fluid" alt="Project 1">
                <h5 class="mt-3 text-primary">Project Name</h5>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>

        </div>

    </div>

    
</div>