<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    </head>
<body>

    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tagline - One Page Wonder</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>

    <div class="fondo-jumbotron">
        
        <div class="caja-texto-blanca mb-3">
            <h1 class="display-3 fw-bold m-0">One Page Wonder</h1>
        </div>
        
        <div class="caja-texto-blanca">
            <p class="fs-2 m-0 text-secondary">Will Knock Your Socks Off</p>
        </div>

    </div>

</body>
</html>

</body>
</html>